.notOwner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  font-size: 1rem;
  color: rgb(255, 0, 85);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.top .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top .right .logo {
  height: 80px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.top .right .logo img {
  height: 100%;
  width: auto;
}

.top .right .logo img:nth-of-type(2) {
  height: 80%;
  width: auto;
  margin-top: 5%;
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(206, 96%, 43%);
  margin: 0;
}

.subheading {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.01rem;
}

.forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form .formgroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form .formgroup label {
  font-size: 0.9rem;
  font-weight: 500;
}

.form .formgroup input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: 0;
}

.form .formgroup input:focus {
  border: 1px solid hsl(206, 96%, 43%);
}

.form .formgroup input::placeholder {
  color: #aaa;
}

.form button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: 0;
  background-color: hsl(206, 96%, 43%);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.form button:hover {
  background-color: hsl(206, 96%, 40%);
}

.form button:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

.form button:disabled:hover {
  background-color: #ddd;
}

.form .error {
  color: rgb(255, 0, 85);
  font-size: 0.9rem;
  font-weight: 400;
  margin: -0.5rem 0.5rem;
}

@media screen and (max-width: 768px) {
  .top {
    grid-template-columns: 1fr;
  }

  .top .right {
    display: none;
  }

  .forms {
    grid-template-columns: 1fr;
  }
}
